{% extends 'base.html' %}
{% block content %}
{% if object %}
<h2 style="color: #616161">Edit Post</h2>
{%else%}
<h2 style="color: #616161">Add New Post</h2>
{%endif%}
<form action="" method="POST">
    {% csrf_token %}
    {{ form }}
    {% if object %}
    <input class="waves-effect waves-light btn grey darken-2" type="submit" value="Edit Post">
    {%else%}
    <input class="waves-effect waves-light btn grey darken-2" type="submit" value="Create Post">
    {%endif%}
</form>

<a href="/posts">
  <p>List of posts-titles is here</p>
</a>



{% endblock %}